body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
}

h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
}

/* Área cheia de corações */
.decoracao {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coracao {
    width: 40px;
    margin: 5px;
    opacity: 0.8;
}

